#results {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
#home-button {
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  
  .features {
    flex-direction: column;
  }
}